
@{
    /*
    ViewBag.Title = "NewAction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cultures = ViewBag.LanguagesList as System.Globalization.CultureInfo[];
    var listItems = cultures.Select(c => new SelectListItem() { Text = c.EnglishName });
    */

    @model firstMVC.ViewModels.Home.ShowLanguagesViewModel
}

<h2>Specify Language</h2>
<br />
<br />

       <!-- <div class="dropdown" >
     // [@]Html.DropDownList("Lang", Model.CultureList) 
    </div> -->


<br />
<br />
<br />
